{% extends 'layout.html' %}
{% block title %}Добавить задачу{% endblock %}
{% block content %}
  <h2>Новая задача</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.content.label }}<br>
    {{ form.content(rows=3) }}<br>
    {{ form.submit() }}
  </form>
{% endblock %}
{% block scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const contentField = document.querySelector('textarea[name="content"]');
      contentField.focus();
    });
  </script>
{% endblock %}